# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Firebase
.firebase/
firebase-debug.log*

# Project Organization
scripts/
user_data/
*.txt
!requirements.txt
!static/robots.txt
!static/OSS_LICENSES.txt
*zaim-lens.code-workspace
tmp_pip_test/

# Node / Frontend
node_modules/
# /static/tailwind.css - Removed from ignore to allow deployment
!/static/tailwind.css
!static/sitemap.xml

# Agent
.agents/
